.team {
  display: flex;
  flex-flow: row wrap;
  font-weight: 700;
  margin: 0.65rem 0;
}

.team-title {
  flex: 0 1 16rem;
  margin-bottom: 0.35rem;
}

@media (max-width: 700px) {
  .team {
    flex-direction: column;
  }

  .team-title {
    flex-basis: 0;
  }
}
